<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hospital de Clínicas de Ananindeua</title>
	<link rel="icon" type="image/png" sizes="32x32" href="/res/site/images/favicon-32x32.png" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css ">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	<link rel="stylesheet" href="/res/site/css/lightbox.css">

	<link rel="stylesheet" href="/res/site/css/style.css">
</head>

<body>

	<header>
		<div id="header-top" class="bg-light py-2 d-none d-md-block">
			<div class="container">
				<div class="row">
					<div class="col-md-2">
						<a href="."><img src="res/site/images/logo-hca.png" style="width: 188px" alt="LOGO HCA"></a>
					</div>
					<div class="col-md-8 text-center">
						<ul class="list-box-icons">
							<li>
								<div class="box-icons-top">
									<div class="icon">
										<i class="fas fa-mobile-alt"></i>
									</div>
									<div class="text">
										<p>(91) 3255-9001</p>
										<p>contato@hcananindeua.com.br</p>
									</div>
								</div>
							</li>
							<li>
								<div class="box-icons-top">
									<div class="icon">
										<i class="fas fa-map-marker-alt"></i>
									</div>
									<div class="text">
										<p>Rua Dois de Junho, 650</p>
										<p>Águas Brancas - Ananindeua, PA</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-md-2">
						<ul class="list-socials">
							<li>
								<i class="fab fa-facebook-square"></i>
								<i class="fab fa-linkedin"></i>
								<i class="fab fa-instagram-square"></i>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark bg-primary_">
			<div class="container">
				<a class="navbar-brand" href="."><img class="d-block d-md-none" src="/res/site/images/logo-hca-pb.png"
						style="width: 100px" alt="LOGO HCA"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="main_nav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href=".">Inicial</a></li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="nd-inst" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">HCA</a>
							<div class="dropdown-menu" aria-labelledby="nd-inst">
								<a class="dropdown-item scroll" href="#sobre-nos">Sobre HCA</a>
								<a class="dropdown-item scroll" href="#futuras-instalacoes">Futuras Instalações</a>
							</div>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="nd-inst" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Especialidades</a>
							<div class="dropdown-menu" aria-labelledby="nd-inst">
								<a class="dropdown-item" href="/especialidades-cardiologicas">CARDIOLOGICA</a>
								<a class="dropdown-item" href="/especialidades-medicas">MÉDICAS</a>
							</div>
						</li>

						<li class="nav-item"><a class="nav-link scroll" href="#servicos">Serviços</a></li>
						<li class="nav-item"><a class="nav-link" href="/agendamento">Agendamento</a></li>
						<li class="nav-item"><a class="nav-link scroll" href="#noticias">Notícias</a></li>
						<li class="nav-item"><a class="nav-link scroll" href="#contato">Contato</a></li>
					</ul>
				</div> <!-- navbar-collapse.// -->
			</div> <!-- container.// -->
		</nav>
	</header>