
<div class="imagem-topo">
    <div class="container">
        <h3>EXAMES CARDIOLOGICOS</h3>
    </div>
</div>
<!-- CONTEUDO PÁGINA AVULSA -->
<section id="conteudo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-pagina-avulsa">
                    <h2>Conheças nossos exames</h2>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-12 ">
                <p>Possuímos modernos equipamentos ​para a realização de exames com segurança e precisão.</p>
            </div>
        </div>
        <div class="row">
            <ul class="list-itens-especialidades">

                <li data-toggle="tooltip" data-html="true" title="<em>Atendimento</em> <b>Segunda - Sexta: 08:00 às 18:00</b>">
                    <img src="res/site/images/ekg-monitor.png" alt="ICON">
                    <p>Ecocardiograma</p>
                </li>

                <li data-toggle="tooltip" data-html="true" title="<em>Atendimento</em> <b>Segunda - Sexta: 08:00 às 18:00</b>">
                    <img src="res/site/images/heart-r.png" alt="ICON">
                    <p>Eletrocardiograma</p>
                </li>

                <li data-toggle="tooltip" data-html="true" title="<em>Atendimento</em> <b>Segunda - Sexta: 08:00 às 18:00</b>">
                    <img src="res/site/images/cardiogram_map.png" alt="ICON">
                    <p>Holter</p>
                </li>

                <li data-toggle="tooltip" data-html="true" title="<em>Atendimento</em> <b>Segunda - Sexta: 08:00 às 18:00</b>">
                    <img src="res/site/images/cardiogram.png" alt="ICON">
                    <p>Mapa</p>
                </li>

                <li data-toggle="tooltip" data-html="true" title="<em>Atendimento</em> <b>Segunda - Sexta: 08:00 às 18:00</b>">
                    <img src="res/site/images/workout.png" alt="ICON">
                    <p>Teste Ergométrico</p>
                </li>
            </ul>
        </div>
    </div>
</section>
