<div class="imagem-topo">
    <div class="container">
        <h3>O que é cateterismo</h3>
    </div>
</div>
<!-- CONTEUDO PÁGINA AVULSA -->
<section id="conteudo">
    <div class="container">
        <h5>Entenda o que é cateterismo e para que serve</h5>

        <p>As patologias cardiovasculares, principalmente a obstrução da artérias do coração (chamadas de artérias
            coronárias), são as mais frequentes causadoras de morte no mundo. Dentre os exames cardiológicos o
            Cateterismo Cardíaco (Cineangiocoronariografia) é conhecido como o “padrão ouro” para o diagnóstico das
            referidas obstruções, sendo necessário para quantificar essas lesões, mostrar a sua localização nas diversas
            artérias que “nutrem” o coração e nortear o tratamento mais indicado.
        </p>
        <p>Quer saber o que é esse procedimento e como ele contribui para o diagnóstico? Continue lendo este
            informativo!</p>

        <h5>O que é cateterismo cardíaco?</h5>
        <p>É um procedimento invasivo, utilizando um cateter (pequeno tubo) que é introduzido em uma artéria
            superficial, geralmente localizada no punho direito, podendo também utilizar menos frequentemente as
            artérias da virilha e do entebraço, sendo a sua trajetória visualizada através de um monitor, indo até a
            origem das artérias do coração (ao nível da raiz da Aorta). Com a injeção de contraste observa-se a presença
            da placa aterosclerótica (placa de gordura) que causa a obstrução das artérias comprometendo a circulação
            sanguínea. </p>

        <h5>Quando o cardiologista indica o exame e como ele é realizado?</h5>
        <p>Quando houver indícios de obstrução das coronárias através de exames cardiológicos não invasivos, como teste
            ergométrico, cintilografia de perfusão miocárdica ou angiotomografia computadorizada das artérias, o
            cateterismo cardíaco deve ser realizado para precisamente confirmar ou excluir o diagnóstico.</p>
        <p>Ele também é indicado nos casos de infarto agudo do miocárdio, localizando a obstrução e sua gravidade, com a
            possibilidade de desobstrução através de um balão e um implante de uma pequena mola (stent), neste caso é
            chamado de angioplastia, evitando que o paciente evolua com sequelas.</p>
        <p>Também é possível que o médico recomende o exame para verificar lesões nas válvulas e no músculo cardíaco.
        </p>

        <h5>Preparo do paciente</h5>
        <ol style="padding-left: 20px;">
            <li>Jejum absoluto de 6 (seis) horas antes da realização do exame;</li>
            <li>Pacientes com alergia comprovada a Contraste (Iodo/mariscos) e pacientes com doenças renais deverão
                avisar antecipadamente para que sejam orientados e prescrito preparo adequado;</li>
            <li>No dia do exame, fazer uso dos medicamentos de pressão e do coração, pela manhã no café;</li>
            <li>Caso o paciente seja diabético e faça uso de Metformina, Dimefor, Glifage ou Glucoformin, deverá
                suspender a medicação 2 (dois) dias antes do exame, retornando somente após 02 (dois) dias do mesmo;
            </li>
            <li>Quando fizer uso de anticoagulantes com: Marevan, Dindevan, Marcoumar ou Coumadin, Eliquis, Pradaxa e
                Xarelto, suspender a medicação 5 (cinco) dias antes do exame;</li>
            <li>O paciente deverá, sempre, estar acompanhado de um responsável, que deverá ficar durante todo o período
                até a alta, devendo chegar 1 (uma) hora antes do procedimento para cadastro, verificação de autorização
                e preparo;</li>
            <li>No dia do exame, trazer todos os exames anteriores como: Cateterismo prévio, Raio-X, Ecocardiograma,
                Holter, Tomografia de Coronárias, Cintilografia, Eletrocardiograma, Teste Ergométrico, Exames de Sangue.
            </li>
        </ol>

    </div>
</section>